/* ===========================
   MODE SOMBRE
=========================== */


body.dark {

    --background-color:#121212;

    --surface-color:#1e1e1e;

    --text-color:#ffffff;

    --primary-color:#90caf9;

    --secondary-color:#222222;

    --border-color:#555555;

}


/* Transition globale */

body {

    transition:

    background-color .3s ease,

    color .3s ease;

}


/* Sections */

body.dark section {

    background-color:var(--surface-color);

}


/* Cartes */

body.dark article {

    background-color:#1e1e1e;

}


/* Formulaire */

body.dark input,

body.dark textarea {

    background-color:#333;

    color:white;

    border-color:var(--border-color);

}


/* Boutons */

body.dark button {

    background-color:#333;

    color:white;

}


/* Footer */

body.dark footer {

    background-color:#000;

}